#heading-red{
            background-color: red;
            color: white;
            text-align: center;
            font-size: 100px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .heading-green{
             background-color: rgb(17, 228, 17);
            color: white;
            text-align: center;
            font-size: 100px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .para{
            background-color: rgb(17, 228, 17);
            color: white;
            text-align: center;
            font-size: 100px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .box{
            border: 2px solid black;
            width: 500px;
            margin: 0 auto;
        }